body{
    background-color:rgb(192, 230, 201);
    

}

p {
    font-family: 'Arial';
    display: flex;
    justify-content: center;
    font-weight: bold;
    
}

h1 {
    font-family:'Segoe UI' ;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;


}

h2 {
    font-family:'Segoe UI';
    color: rgb(56, 7, 20);
   
}

ul{
    font-family: 'Arial';
}

img {
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;

}
